@{
    
}

@model DirigoEdge.Models.ViewModels.ContentViewViewModel

@section Styles {
    <style>
        @Html.Raw(Model.ThePage.CSSContent)
    </style>
}

<div class="contentPage">
    <div class="row">
        <div class="twelve columns userContent">
            @Html.Raw(Model.ThePage.HTMLContentFormatted)
        </div>
    </div>
</div>

@section Scripts {
    <script>
        @Html.Raw(Model.ThePage.JSContent)
    </script>
}