


<div id="AdminEditContentModal" class="reveal-modal medium">
    <h3>Edit Module</h3>

    <div id="ModuleContentEditContainer"></div>
    
    
    <div class="confirmCancelContainer">
        <a id="OpenInAdminLink" class="openMidLink" class="left" href="#" target="_blank">Edit in Admin Interface</a>
        <a id="ConfirmAdminContentUpdate" class="right button confirmButton">Save & Update</a>
        <a class="right button secondary" onclick="$('#AdminEditContentModal').trigger('reveal:close');">Cancel</a>    
    </div>
    

    <a class="close-reveal-modal">&#215;</a>
</div>