@*Optional Header Area*@
<div class="row">
    
    <div class="twelve columns"></div>

</div>

@*Left Rail, Right Content Area*@
<div class="row">
    <div class="twelve columns"></div>
</div>

@*Optional Footer*@
<div class="row">

    <div class="twelve columns"></div>

</div>
