@model DirigoEdge.Areas.Admin.Models.ViewModels.EditBlogViewModel

<h4>Featured Image</h4>

<div class="content">
    <a id="SetFeaturedImage" data-reveal-id="FeaturedImageModal" href="javascript:void(0);">Set Featured Image</a>
</div>