@model DirigoEdge.Areas.Admin.Models.ViewModels.EditBlogViewModel

<h4>Featured Text</h4>

<div class="content">
    <textarea id="ShortDescription" rows="6">@Model.ThisBlog.ShortDesc</textarea>
</div>