html, body {
	height: 100%;
}

a.logoHead {
    display: block;
    margin-top: 20px;
}

/*Site Modules*/ 
.module {
	margin-bottom: 20px;
	position: relative;
}

/*Custom Forms*/
span.requiredToken { color: #ff0000; }

/** Admin Login Area **/
input.registerUserButton { margin-bottom: 10px; }
p.message-success {
	color: green;
	font-weight: bold;
}

/* Load More button for Blog, Event, etc */
.button.loadMore { width: 100%; }

/** Facebook Comments and like container Responsive adjustements */
div.fbLikeContainer iframe { height: 40px !important;}
.fb-comments, .fb-comments iframe { width: 100% !important; }
iframe{ width:100% !important; }
.fb_iframe_widget span { width: 100% !important;max-width: 480px;}

/* login custom error styles */
.validation-summary-errors ul { list-style-type: none; }
.validation-summary-errors ul li { margin: 12px 0; }

.field-validation-error {
    display: block;
    margin: 12px 0;
}