<div id="InsertImageModal" class="reveal-modal">
    <h2>Insert Image.</h2>

    <form action="/admin/fileUpload" class="dropzone" id="my-awesome-dropzone"></form>

    <a class="close-reveal-modal">&#215;</a>
</div>
