@model List<ContentPage>
<ul>
    @{
        foreach (var rev in Model)
        {
            string isDraft = rev.IsRevision ? "(Draft)" : "Published";
            string publishDate = Convert.ToDateTime(rev.PublishDate).ToString("MM/dd/yyyy @ hh:mm");
            string authorName = rev.DraftAuthorName ?? "Anonymous";
            <li>
                <a href="javascript:void(0);" data-id="@rev.ContentPageId">@publishDate <span class="status">@isDraft</span></a><span>by @authorName</span>
            </li>
        }
    }
</ul>
