<div id="RevisionDetailModal" class="reveal-modal large">
    <h2>Revision Details.</h2>

    <textarea id="RevisionArea" rows="18"></textarea>
    
    <a href="#" id="SwitchRevision">Switch to this revision</a>

    <a class="close-reveal-modal">&#215;</a>
</div>