@{
	ViewBag.Title = "Not Authorized";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <h4>You do not have permission to view this page.</h4>
        <p>Try <a href="/account/login/">logging in</a> with an account that has sufficient permissions.</p>       
    </div>
</div>