@{
	ViewBag.Title = "Site Settings";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model DirigoEdge.Areas.Admin.Models.ViewModels.SiteSettingsViewModel

<div class="siteSettings">
    <div class="row">
        <div class="twelve columns">
            <h3>Site Settings</h3>
        </div>
    </div>

    <div class="row">
        <div class="four columns mobile-two">
            <label class="right inline">Google Analytics ID</label>
        </div>
        <div class="eight columns  mobile-two">
            <form class="custom">
                <input type="text" class="eight commentBelow saveField" data-field="GoogleAnalyticsId" autocomplete="off" value="@Model.Settings.GoogleAnalyticsId" />
                <div class="settingsComment hide-for-small">Your Google Analytics Tracking Id. Ex : UA-XXXXX-X</div>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="four columns mobile-two">
            <label class="right inline">Contact E-Mail</label>
        </div>
        <div class="eight columns  mobile-two">
            <form class="custom">
                <input type="text" class="eight commentBelow saveField" data-field="ContactEmail" autocomplete="off" value="@Model.Settings.ContactEmail" />
                <div class="settingsComment hide-for-small">Contact Form and other generic e-mails will be sent here.</div>
            </form>

        </div>
    </div>
    
    <div class="row">
        <div class="four columns mobile-two">
            <label class="right inline">Search Index</label>
        </div>
        <div class="eight columns  mobile-two">
            <form class="custom">
                @{
                    string siChecked = Model.Settings.SearchIndex ? "checked = checked" : "";
                }
                <input class="custom saveField" data-field="SearchIndex" type="checkbox" @siChecked />
                <div class="settingsComment hide-for-small">Allow search engines to index this site.</div>
            </form>
            
        </div>
    </div>
        
    <div class="row">
        <div class="twelve columns">
            <a class="button mobileMarginBottom savePageButton" data-url="/settings/sitesettings/">Save</a>
            <div id="SaveIndicator"></div>
        </div>
    </div>
    
</div>