/** Blog Admin **/
@font-face {
    font-family: 'open_sans_lightregular';
    src: url('/Fonts/opensans-light-webfont.eot');
    src: url('/Fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/opensans-light-webfont.woff') format('woff'),
         url('/Fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/Fonts/opensans-light-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
body {
	background:url(./Images/cream_dust.png) #EEE;
}
.row {
    width:1440px;
}
#sidebarButton {
	float: right;
	margin: 10px 10px 0;
}
div.tipContainer {
	margin: 20px 0;
	color: #888;
}
div.tipContainer kbd {
	margin-right: 4px;
}
ul.quickActions {
	margin-left: 20px;
}
/** Login Page **/
input.modifyPasswordButton, input.registerUserButton {
	margin-left: 18px;
}
/** jQueryUI Override **/
#ui-datepicker-div {
	min-width: 202px;
	border-radius: 0 0 0 0;
    box-shadow: 4px 4px 4px #999999;
	border: 1px solid #CCCCCC;
}

#ui-datepicker-div .ui-widget-header {
    background: none repeat scroll 0 0 #372F2C;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

#ui-datepicker-div .ui-widget-header .ui-icon {
	background-image: url("/Scripts/jqueryui/css/smoothness/images/ui-icons_ffffff_256x240.png");
}

#ui-datepicker-div .ui-state-default {
	background: #fff;
}
#ui-datepicker-div a.ui-datepicker-prev.ui-state-hover, #ui-datepicker-div a.ui-datepicker-next.ui-state-hover {
	background: #666;
	cursor: pointer;
	top: 2px;
}
.ui-state-highlight {
	border: 1px solid #089FC9;
}


table.ui-datepicker-calendar th {
    padding: 0.7em 0.1em;
}
div.row.header {
    overflow:visible;
}
.top-barContainer {
    background:url(./Images/debut_dark.png) #444;
    margin-bottom:30px;
}
nav.top-bar {
	background:url(./Images/debut_dark.png) #444;
    margin:0;
}
.top-bar ul.right .has-dropdown .dropdown {
	right: 0;
}
#ManageUserTableContainer {
    clear:both;
}
#ManageUserTableContainer td.imageLocation {
	text-align: center;
}
#DeleteUserButton, #ConfirmBlogDelete, .confirmDeleteButton {
    margin-left:12px;
}
p.saveTip {
    clear:both;
    margin-top:8px;
    font-size:12px;
    color:#444;
}
div.publishContainer {
    font-size:12px;
    color:#444;    
}
div.editBlog div.publishContainer a {
    margin-left:8px;   
}
#PublishDate {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    display: inline;
    padding: 0;
    width: auto;
    font-size:12px;
    color:#089FC9;
    text-decoration:underline;
}
table.bordered {
    border:1px solid #CCC;
    box-shadow:0 0 4px #CCC;
}
div.panel.categories ul li.catListing form.custom {
    max-height:150px;
    overflow:auto;
}
/** Content Admin **/
#SaveContent.button {
    margin:12px 0;
}
input#PageName {
    margin-bottom:4px;
}
div.urlTip {
    margin-bottom:12px;
    margin-left:4px;
    font-size:12px;
    color:#444;
}
/** Blog Admin **/
div.addBlog.module div.blogTitle , div.editBlog.module div.blogTitle {
	margin-bottom:10px;   
	font-size:13px;
	color:#666;
}
div.addBlog.module div.blogTitle input, div.editBlog.module div.blogTitle input {
    margin-bottom:4px;
    color:#333;
}
div.addBlog.module div.blogTitle span.permHint, div.editBlog.module div.blogTitle span.permHint {
    margin-left:4px;
    font-weight:bold;
}
#PermaLinkEnd {
    text-transform:lowercase;
    background-color:#FFFBCC;
}
#EditPermaLink {
    margin-left:15px;
}
#PermaLinkEditPane {
    box-shadow: none;
    display: inline;
    font-size: 12px;
    height: auto;
    line-height: 0 !important;
    padding: 4px 2px;
    text-transform: lowercase;
    width: auto;
}
div.addBlog div.editArea a.button, div.editBlog div.editArea a.button {
	margin-top:12px;   
}
#popTitle {
    font-weight:bold;
}
#DeleteModal #Confirm {
    margin-left:10px;
}
/** ADMIN AREA **/
ul.adminList li {
	margin-bottom:10px;   
}
ul.tabs-content.contained li {
	background:#FFF;   
}
#sidebar ul.tabs li a:hover {
    background:#FFF;
    color:#333;
}
#ConfirmFeatImage {
    margin-top:8px;
}
/** ACE Editor*/
div.aceEditArea { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
li.editTabArea { min-height:400px; }
div.manageBlogs table td.actions { min-width:166px; }
#NewContentPage, 
#NewBlogPage,
#NewContentModule {
	position:absolute;
	right:15px;
	top:10px;
}
#EditorThemeContainer {
	position: absolute;
	right: 10px;
	top: 4px;
	width: 260px;
}
#EditorThemeContainer label {
	display:inline;
	font-family: 'Open Sans', sans-serif;
}
#EditorTheme {
	font-family: 'Open Sans', sans-serif;
	width: 200px;
}
#PreviewContentButton {
	margin-left:12px;
	font-weight:normal;
}

/** Stock Image Holder **/
#StockImageHolder {
	max-height:253px;
	overflow-y:auto;
	overflow-x:hidden;
}
#StockImageHolder a {
	display: block;
	float: left;
	width: 170px;
	border:4px solid #FFF;
}
#StockImageHolder a:hover {
	cursor:pointer;
	border:4px solid #2BA6CB;
}
#StockImageHolder img {
	height:54px;
}
#FeaturedImageModal p {
	font-family: 'Open Sans', sans-serif;
}
#FeaturedImageModal p.alt {
	margin-top:12px;
}
#ContentRowContainer {
	margin-bottom:12px;
}
/** admin sidebar**/
#sidebar ul.tabs li {
	position:relative;
}
#sidebar ul.tabs li span {
	margin-left: 5px;
	position: relative;
	top: 2px;
}
#sidebar ul.tabs li img.adminIcon {
	width:15px;	
}
div.saveContainer a.button {
	margin: 5px 5px 20px 0;
}
a.confirmModalButton {
	margin-left: 12px;
}
input.modifyPasswordButton {
	margin-left: 20px;
}
#popTitle { margin-right: 4px; }
/** SlideShow Editor **/
#SlideEditList {
	counter-reset: li; /* Initiate a counter */
	margin-left: 0;
}
#SlideEditList li.slideContainer {
	border: 1px dashed #DDDDDD;
	margin-bottom: 12px;
	margin-left: 20px;
	padding: 10px 18px 5px 18px;
}
#SlideEditList div.imageSetContainer {
	margin-bottom: 5px;
}
#SlideEditList div.imageSetContainer input {
	margin-bottom: 2px;
}
#SlideEditList li.slideContainer:nth-child(even) {
	background-color: #F2F2F2;
}
form.slideActionList {
	margin-top: 20px;
}
#SlideEditList > li {
    position:relative;
    margin:0 0 6px 2em;
    padding:4px 8px;
    list-style:none;
    border-top:2px solid #666;
    background:#f6f6f6;
}
#SlideEditList > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    position:absolute;
    top:-2px;
    left:-2em;
    width:2em;
    margin-right:8px;
    color:#555;
    font-weight:bold;
	font-family: 'Open Sans', sans-serif;
    text-align:center;
	font-size: 14px;
}

/** Media Upload **/
#UploadedMediaListing {
	overflow: hidden;
	padding: 10px;
	margin: 0;
}
#UploadedMediaListing li {
	list-style: none;
	float: left;
	max-width: 120px;
	margin-right: 8px;
}
img.constrained {
	max-width: 280px;
	width: 100%;
}
span.tooltip img.constrained {
	max-width: 800px;
}

#UploadedMediaListing li img {
	width: 100%;
}

/** Site Settings **/
div.settingsComment {
	margin: 6px 0 10px 0;
	font-style: italic;
	color: #666;
	font-size: 12px;
}
input.commentBelow {
	margin-bottom: 2px;
}

/** Manage Table Overrides **/
table.manageTable thead tr .hide-for-small {
	display: table-cell !important;
}

div.editArea {
	margin-bottom: 20px  !important;
}
#CategoriesModule span.catName {
	margin-left: 4px;
}
/* Give extra space to drop elements below*/
#Sortable1 { padding-bottom: 150px; }
#Sortable2 { padding-bottom: 100px; }

div.connectedSortable div.panel {
	padding-top: 4px;
	padding: 0;
}

div.connectedSortable div.panel h4 {
	border-bottom: 1px solid #E6E6E6;
	cursor: move;
	margin: 0 0 15px;
	padding: 10px 20px;
	background: url("./Images/collapse.png") no-repeat scroll right 14px transparent;
	font-weight: 300;
}
div.connectedSortable div.panel p, div.connectedSortable div.panel label {
	font-weight: 300;
}
div.connectedSortable div.panel h4:hover {
	border-bottom:1px solid #DDD;
	color: #000;
	box-shadow: 0px 0px 8px #FFF inset;
}

div.connectedSortable div.panel.collapsed h4 {
	background: url("./Images/expand.png") no-repeat scroll right 14px transparent;
	margin-bottom: 0 !important;
	border: none;
}

div.connectedSortable div.panel div.content {
	padding: 0 20px 20px 20px;
	height: auto;
}

div.connectedSortable div.panel.collapsed div.content {
	height: 0;
	padding: 0;
	overflow: hidden;
}