@model DirigoEdge.Areas.Admin.Models.ViewModels.EditBlogViewModel

<h4>Tags</h4>

<div class="content">
    <input id="BlogTags" type="text" placeholder="tags..." value="@Model.ThisBlog.Tags" />
    <em>Separate tags with commas</em>
</div>