/* ==========================================================================
Helper classes
========================================================================== */
/*
* Contain Floats
* Below are two alternate methods to containing floats
*/
.contain {
    overflow:hidden;   
}
div.container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/*
* Image replacement
*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}


/* Icon and Spriting */
.icon {
    background-image:url(/Images/sprite.png);
    background-color:transparent;
    background-repeat:no-repeat;
    cursor:pointer;
}

/* General purpose hide class */
.hide {
    display:none;
}
/* Use for lazy loading - remove class on doc ready */
.lazy {
    display:none;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/
.hidden {
    display: none !important;
    visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}
/*
* AjaxLoader
* For Use with common.showAjaxLoader();
*/
div.ajaxContainer {
    background: #FFF;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

div.ajaxLoader {
    background: url("../Images/ajaxLoader.gif") no-repeat scroll 50% 50% #FFF;
    height: 50px;
    left: 45%;
    opacity: 1;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 2001;
}

div.standaloneSpinner {
    background: url("../Images/ajaxLoaderTransparent.gif") no-repeat scroll 50% 50% transparent;
    height: 50px;
    width: 50px;
    z-index: 2001;
    display:none;
    float:right;
    position:relative;
    top:6px;
}

#SaveIndicator {
    background: url("../Images/ajaxLoaderTransparent.gif") no-repeat scroll 50% 50% transparent;
    height: 50px;
    width: 50px;
    z-index: 2001;
    display:none;
    position:relative;
	top: -8px;
	float:right;
}

/** Text Placement **/
.centeredText {
    text-align:center;
}

/** Drop Down Enhancements **/
select {
	padding:4px 2px;
	border:1px solid #C3C3C3;
	border-radius:1px;
}
.noPadLeft { padding-left:0; }
.noPadRight { padding-right:0; }
.relative { position:relative; }
div.smartPanel {
	background-color:#ebebeb;
	padding:10px;
	margin-bottom:22px;
}

/** Site Admin Styles **/
a.adminEdit {
	background: none repeat scroll 0 0 rgba(1, 167, 186, 0.6);
	border: 1px solid #DDDDDD;
	box-shadow: 0 0 4px #CCCCCC;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	top: -25px;
	opacity: 0.6;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	z-index:3;
	font-size: 14px;
}
a.adminEdit:hover {
	opacity:1;
}
a.adminEdit.slideShow {
	right: 14px;
}
div.confirmCancelContainer {
	margin-top: 10px;
}
div.confirmCancelContainer a.confirmButton {
	margin-left: 12px;
}
a.openMidLink {
	position: relative;
	top: 10px;
}

/** CKEditor Fix **/
a.cke_button, a.cke_dialog_tab_selected, a.cke_dialog_tab {
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -o-box-sizing:content-box;
}