/** Blog Admin **/
@font-face {
    font-family: 'open_sans_lightregular';
    src: url('/Fonts/opensans-light-webfont.eot');
    src: url('/Fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/opensans-light-webfont.woff') format('woff'),
         url('/Fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/Fonts/opensans-light-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
body {
	background:url(./Images/cream_dust.png) #EEE;
}

.row { width:1440px; }

body.sidebarOpen #sidebar {
     width:220px  !important;
     border-right: 2px solid #CCC  !important;
}

body.sidebarOpen #Main {
    padding-left: 220px !important;     
}

/*Admin Styles*/
body.sideBarClosed #sidebar {
    width: 5px;
    border-right: 5px solid #AAA;
}

body.sideBarClosed #Main {
    padding-left: 5px;
}

#ToggleSidebar {
    padding: 5px 12px 0;
}
.username .userIcon {
    background: url("./Images/User_white.png") repeat scroll 0 0 / 20px auto rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    margin-right: 8px;
    opacity: 0.9;
    position: relative;
    top: 5px;
    width: 20px;
}


#sidebar, .sidebar {
    border-right: 2px solid #CCC;
    padding: 0;
}

#sidebar > ul,
.sidebar > ul {
    margin: 0;
}

#sidebar > ul > li.has-dropdown.active,
.sidebar > ul > li.has-dropdown.active {
    border: none;
}

#sidebar > ul > li.has-dropdown.active > a,
.sidebar > ul > li.has-dropdown.active > a {
    background: #f4f4f4;
    color: #666;
    position: relative;
    border-left: 3px solid #2BA6CB;
}

#sidebar > ul > li.has-dropdown.active > a:hover,
.sidebar > ul > li.has-dropdown.active > a:hover {
    background: #f2f2f2;
        color: #666;
}


#sidebarButton {
	float: right;
	margin: 10px 10px 0;
}
div.tipContainer {
	margin: 20px 0;
	color: #888;
}
div.tipContainer kbd {
	margin-right: 4px;
}
ul.quickActions {
	margin-left: 20px;
}
/** Login Page **/
input.modifyPasswordButton, input.registerUserButton {
	margin-left: 18px;
}
/** jQueryUI Override **/
#ui-datepicker-div {
	min-width: 202px;
	border-radius: 0 0 0 0;
    box-shadow: 4px 4px 4px #999999;
	border: 1px solid #CCCCCC;
}

#ui-datepicker-div .ui-widget-header {
    background: none repeat scroll 0 0 #372F2C;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

#ui-datepicker-div .ui-widget-header .ui-icon {
	background-image: url("/scripts/jqueryui/css/smoothness/images/ui-icons_ffffff_256x240.png");
}

#ui-datepicker-div .ui-state-default {
	background: #fff;
}
#ui-datepicker-div a.ui-datepicker-prev.ui-state-hover, #ui-datepicker-div a.ui-datepicker-next.ui-state-hover {
	background: #666;
	cursor: pointer;
	top: 2px;
}
.ui-state-highlight {
	border: 1px solid #089FC9;
}


table.ui-datepicker-calendar th {
    padding: 0.7em 0.1em;
}
div.row.header {
    overflow:visible;
}
.top-barContainer {
    background:url(./Images/debut_dark.png) #444;
}
nav.top-bar {
	background:url(./Images/debut_dark.png) #444;
    margin:0;
}
.top-bar ul.right .has-dropdown .dropdown {
	right: 0;
}
#ManageUserTableContainer {
    clear:both;
}
#ManageUserTableContainer td.imageLocation {
	text-align: center;
}
#DeleteUserButton, #ConfirmBlogDelete, .confirmDeleteButton {
    margin-left:12px;
}
p.saveTip {
    clear:both;
    margin-top:8px;
    font-size:12px;
    color:#444;
}
div.publishContainer {
    font-size:12px;
    color:#444;
    clear: both; 
}
div.editBlog div.publishContainer a {
    margin-left:8px;   
}
#PublishDate {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    display: inline;
    padding: 0;
    width: auto;
    font-size:12px;
    color:#089FC9;
    text-decoration:underline;
}
table.bordered {
    border:1px solid #CCC;
    box-shadow:0 0 4px #CCC;
}
div.panel.categories ul li.catListing form.custom {
    max-height:150px;
    overflow:auto;
}
/** Content Admin **/
#SaveContent.button {
    margin:12px 0;
}

input#PageName {
    margin-bottom:4px;
}
div.urlTip {
    margin-bottom:12px;
    margin-left:4px;
    font-size:12px;
    color:#444;
}
#InsertContentImage {
	position: absolute;
	right: 15px;
	top: 74px;
    font-weight:normal;
}

#InsertContentImage.moduleButton {
    top: 0px;
}

/** Admin Content Editors **/
div.addBlog.module div.blogTitle , 
div.editBlog.module div.blogTitle,
div.editEvent.module div.eventTitle,
div.editContent div.contentTitle {
	margin-bottom:18px;   
	font-size:13px;
	color:#666;
}
div.addBlog.module div.blogTitle input, 
div.editBlog.module div.blogTitle input,
div.editContent div.contentTitle input {
    margin-bottom:4px;
    color:#333;
}
div.addBlog.module div.blogTitle span.permHint,
div.editBlog.module div.blogTitle span.permHint,
div.editEvent.module div.eventTitle span.permHint,
div.editContent span.permHint {
    margin-left:4px;
    font-weight:bold;
}
#PermaLinkEnd {
    text-transform:lowercase;
    background-color:#FFFBCC;
}
#EditPermaLink, #ViewPermaLink {
    margin-left:10px;
}
#PermaLinkEditPane {
    box-shadow: none;
    display: inline;
    font-size: 12px;
    height: auto;
    line-height: 0 !important;
    padding: 4px 2px;
    text-transform: lowercase;
    width: auto;
}
div.addBlog div.editArea a.button, div.editBlog div.editArea a.button,
div.addEvent div.editArea a.button, div.editEvent div.editArea a.button {
	margin-top:12px;   
}
#popTitle {
    font-weight:bold;
}
#DeleteModal #Confirm {
    margin-left:10px;
}
/** ADMIN AREA **/
ul.adminList li {
	margin-bottom:10px;   
}
ul.tabs-content.contained li {
	background:#FFF;   
}



#sidebar ul.tabs li a,
.sidebar ul.tabs li a {
    border-left: 3px solid transparent;
}

#sidebar ul.tabs li a:hover,
.sidebar ul.tabs li a:hover,
.sidebar ul.tabs li a.active {
    background: #f9f9f9;
    color:#333;
    border-left: 3px solid  #2BA6CB;
}
#ConfirmFeatImage {
    margin-top:8px;
}
/** ACE Editor*/
div.aceEditArea { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
li.editTabArea { min-height:400px; }
div.manageBlogs table td.actions { min-width:166px; }

.newContentButton,
#NewContentPage, 
#NewBlogPage,
#NewEventPage,
#NewContentModule {
	position:absolute;
	right:15px;
	top:10px;
}
#EditorThemeContainer {
	position: absolute;
	right: 10px;
	top: 4px;
	width: 260px;
}
#EditorThemeContainer label {
	display:inline;
	font-family: 'Open Sans', sans-serif;
}
#EditorTheme {
	font-family: 'Open Sans', sans-serif;
	width: 200px;
}
#PreviewContentButton {	float: right; }
#SaveContentButton { margin-bottom: 12px; float: left; }
#SaveSpinner { float: left;top: -7px; }

/** Stock Image Holder **/
#StockImageHolder {
	max-height:253px;
	overflow-y:auto;
	overflow-x:hidden;
}
#StockImageHolder a {
	display: block;
	float: left;
	width: 170px;
	border:4px solid #FFF;
}
#StockImageHolder a:hover {
	cursor:pointer;
	border:4px solid #2BA6CB;
}
#StockImageHolder img {
	height:54px;
}
#FeaturedImageModal p {
	font-family: 'Open Sans', sans-serif;
}
#FeaturedImageModal p.alt {
	margin-top:12px;
}
/** admin sidebar**/
#sidebar ul.tabs li,
.sidebar ul.tabs li {
	position:relative;
    border: none;
}
#sidebar ul.tabs li a,
.sidebar ul.tabs li a {
    overflow: hidden;
    font-weight: normal;
    border-right: none;
    padding: 14px 16px;
    position: relative;
}
#sidebar ul.tabs li span,
.sidebar ul.tabs li span {
	margin-left: 8px;
	position: relative;
	top: 2px;
    float: left;
    line-height: 16px;
}
#sidebar .tabs.vertical li ul,
.sidebar .tabs.vertical li ul {
    border-left: none;
}
#sidebar ul > li.has-dropdown.active a:after,
.sidebar ul > li.has-dropdown.active a:after {
    border-color: #666666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
#sidebar ul.tabs li a,
.sidebar ul.tabs li a {
    background: #fff;
}

#sidebar ul.tabs li i.fa,
.sidebar ul.tabs li i.fa {
    position: relative;
    top: 2px;
    font-size: 16px;
    float: left;
    min-width: 20px;
    text-align: center;
}

#sidebar ul > li.has-dropdown .dropdown li a,
.sidebar ul > li.has-dropdown .dropdown li a {
    padding: 14px 10px 14px 25px;
    border-left: 3px solid transparent  !important;
}

#sidebar ul > li.has-dropdown .dropdown li a:hover,
.sidebar ul > li.has-dropdown .dropdown li a:hover {
    background: #f7f7f7 !important;
    border-left: 3px solid #2BA6CB !important;
}

#sidebar ul > li.has-dropdown .dropdown li a .delete-media-folder,
.sidebar ul > li.has-dropdown .dropdown li a .delete-media-folder {
    position: relative;
    float: right;
    opacity: 0.3;
    z-index: 1000;
}

#sidebar ul > li.has-dropdown .dropdown li a .delete-media-folder:hover,
.sidebar ul > li.has-dropdown .dropdown li a .delete-media-folder:hover {
    color: red;
    opacity: 1;
}

#sidebar ul > li.has-dropdown .dropdown li,
.sidebar ul > li.has-dropdown .dropdown li {
    padding: 0;
}

div.saveContainer a.button {
	margin: 5px 5px 20px 0;
    font-weight: normal;
}
a.confirmModalButton {
	margin-left: 12px;
}
input.modifyPasswordButton {
	margin-left: 20px;
}
#popTitle { margin-right: 4px; }
/** SlideShow Editor **/
#SlideEditList {
	counter-reset: li; /* Initiate a counter */
	margin-left: 0;
}
#SlideEditList li.slideContainer {
	border: 1px dashed #DDDDDD;
	margin-bottom: 12px;
	margin-left: 20px;
	padding: 10px 18px 5px 18px;
}
#SlideEditList div.imageSetContainer {
	margin-bottom: 5px;
}
#SlideEditList div.imageSetContainer input {
	margin-bottom: 2px;
}
#SlideEditList li.slideContainer:nth-child(even) {
	background-color: #F2F2F2;
}
form.slideActionList {
	margin-top: 20px;
}
#SlideEditList > li {
    position:relative;
    margin:0 0 6px 2em;
    padding:4px 8px;
    list-style:none;
    border-top:2px solid #666;
    background:#f6f6f6;
}
#SlideEditList > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    position:absolute;
    top:-2px;
    left:-2em;
    width:2em;
    margin-right:8px;
    color:#555;
    font-weight:bold;
	font-family: 'Open Sans', sans-serif;
    text-align:center;
	font-size: 14px;
}

/** Media Upload **/
#UploadedMediaListing {
	overflow: hidden;
	padding: 10px;
	margin: 0;
}
#UploadedMediaListing li {
	list-style: none;
	float: left;
	max-width: 120px;
	margin-right: 8px;
}
img.constrained {
	max-width: 280px;
	width: 100%;
}
span.tooltip img.constrained {
	max-width: 800px;
}

#UploadedMediaListing li img {
	width: 100%;
}

/** Manage Media */
.manageMedia h3 {
    float: left;
    text-transform: capitalize;
}

.manageMedia .main-actions {
    margin: 14px 0;
    float: right;
}

.manageMedia .main-actions label,
.manageMedia .main-actions .button {
    display: block;
    margin: 0 0 0 1em;
    float: left;    
}

.manageMedia .main-actions a {
    position: static !important; 
}

.manageMedia .main-actions label {
    line-height: 37px;
}

.manageMedia .copyImg input {
    width: 60%;
    display: inline-block;
    margin: 0px;
}

.manageMedia .copyImg .button {
    display: inline-block;
}
.manageMedia .manageTable .new-row {
    background: lightyellow;
}

.manageMedia .manageTable .thumbnail {
    width: 72px;
}

.manageMedia .manageTable .thumbnail .image {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: -8px;
    text-align: center;
}

.manageMedia .manageTable .thumbnail i {
    font-size: 34px;
    padding-top: 12px;
    color: #555;
}

.manageMedia .tip-image {
    max-width: 300px;
}

.manageMedia ul.folder-listing {
    margin: 0;
    padding: 0;
    list-style: none;
}

.manageMedia ul.folder-listing li {
    display: block;
    background: #f7f7f7
}

.manageMedia ul.folder-listing a {
    font-size: 1.125em;
    color: inherit;
}

.manageMedia ul.folder-listing a i {
    float: none;
}

/** Site Settings **/
div.settingsComment {
	margin: 6px 0 10px 0;
	font-style: italic;
	color: #666;
	font-size: 12px;
}
input.commentBelow {
	margin-bottom: 2px;
}

/** Manage Table Overrides **/
table.manageTable thead tr .hide-for-small {
	display: table-cell !important;
}

div.editArea {
	margin-bottom: 20px  !important;
}
#CategoriesModule span.catName {
	margin-left: 4px;
}
/* Give extra space to drop elements below*/
@media all and (min-width: 768px) {
    #Sortable1 { padding-bottom: 150px; }
    #Sortable2 { padding-bottom: 100px; }
}


div.connectedSortable div.panel {
	padding-top: 4px;
	padding: 0;
}

div.connectedSortable div.panel h4 {
	border-bottom: 1px solid #E6E6E6;
	cursor: move;
	margin: 0 0 15px;
	padding: 10px 20px;
	background: url("./Images/collapse.png") no-repeat scroll right 14px transparent;
	font-weight: 300;
}
div.connectedSortable div.panel p, div.connectedSortable div.panel label {
	font-weight: 300;
}
div.connectedSortable div.panel h4:hover {
	border-bottom:1px solid #DDD;
	color: #000;
	box-shadow: 0px 0px 8px #FFF inset;
}

div.connectedSortable div.panel.collapsed h4 {
	background: url("./Images/expand.png") no-repeat scroll right 14px transparent;
	margin-bottom: 0 !important;
	border: none;
}

div.connectedSortable div.panel div.content {
	padding: 0 20px 20px 20px;
	height: auto;
}

div.connectedSortable div.panel.collapsed div.content {
	height: 0;
	padding: 0;
	overflow: hidden;
}
ul.imageList li {
	list-style: none;
	float: left;
	width: 33.333%;
	padding: 5px;
	
}

ul.imageList li img {
	border: 1px solid #CCC;

}

ul.imageList li span.container {
	position: relative;
	background: transparent;
	overflow: hidden;
}

ul.imageList li span.container:hover span {
	left: 0;
}

ul.imageList li span {
	background: rgba(0, 0, 0, 0.7);
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 200ms ease-in-out;
}

ul.imageList li span.container span {
	left: -100%;
}

ul.imageList li a {
	color: #fff;
	text-shadow: 0 1px 0 #000;
	margin-left: 10px;
	margin-top: 12px;
	display: inline-block;
}

ul.imageList li a:hover {
	text-decoration: underline;
}

/*Site Settings*/
div.siteSettings div.custom.dropdown {
	display: inline-block;
}

div.siteSettings div.row {
    overflow: visible;
}

/*Revisions Listing*/
#RevisionsList {
	max-height: 88px;
	overflow: auto;
}

#RevisionsList ul li {
	list-style: none;
}
#RevisionsList ul li a {
	text-decoration: underline;
	font-size: 12px;
}
#RevisionsList ul li span {
	font-size: 12px;
	color: #444;
	margin-left: 6px;
}

/*New Page listing*/
div.newPageTemplateListing ul li {
	float: left;
	list-style: none outside none;
	margin-right: 24px;
	max-width: 178px;
}

div.newPageTemplateListing ul li a {
	display: inline-block;
	text-align: center;
	transition: all 300ms ease-in-out;
	
}

div.newPageTemplateListing ul li a:hover {
	
}

div.newPageTemplateListing ul li a img {
	border: 3px solid #FFF;
}

div.newPageTemplateListing ul li a.active img {
	border: 3px solid #00C7FF;

}

div.newPageTemplateListing ul li a img {
	width: 100%;
	margin-bottom: 8px;
}

/** New Module **/
#ChangeImageThumbnail img {
	margin-bottom: 8px;
}

/*User Roles*/
#UserListing .tabs dd.active {
    margin-top: -4px;
    border-bottom: 1px solid #F2F2F2;
}
ul.userList {
    height: 220px;
    overflow: auto;    
    border-radius: 2px;
    margin: 0;
}

ul.userList li {
    list-style: none;
    border-bottom: 1px solid #CCC;
    padding: 8px;
}

ul.userList li:nth-child(even) {
    background-color: #fafafa;
}

ul.userList li:hover {
    cursor: pointer;
    background-color: #ddd;
}

    ul.userList li label {
        display: inline;
        font-size: 16px;
    }

    ul.tabs-content.contained.noPadding > li {
        padding: 0;
    }

#PublishModule { margin-top: 20px; }
h2.left i.fa { color: #444; }

/** Draft Status **/
div.contentStatus {
    clear: both;
    margin: 12px 0;

}
.contentStatus label {
    position: relative;
    top: 4px;
    margin-right: 12px;
    font-size: 12px;
    color: #444;
}

.contentStatus select {
    width: auto;
}
#DraftStatusContainer {
    display: none;
    margin-top: 10px;
}
#CloseDraftStatus {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}
div.alert-box a {
    color: #fff;
    text-decoration: underline;
}
.topAlert {
    margin-top: 20px;
}
.contentTitle tester {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.secondary.button.dropdown:after {
    border-color: #555 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.secondary.button.dropdown i {
    color: #555555;
    font-size: 16px;
    line-height: 8px;
    position: relative;
    top: 2px;
}

/** Schema Editor **/
span.requiredToken {
    color: #ff0000;
}
p.labelDescription {
    font-size: 12px;
    position: relative;
    top: -5px;
}
div.wysiwyg  p.labelDescription { top: 5px; }

div.formContainer.small input[type=text] { max-width: 280px; }
div.formContainer.medium input[type=text] { max-width: 560px; }

div.radioContainer label { display: inline; }
#FieldEntry div.formContainer.image .upload.button {
    float: left;
    position: relative;
    top: 2px;
    margin-left: 12px;
    font-weight: normal;
}

#FieldEntry div.formContainer.image input[type="text"] {
    float: left;
    max-width: 426px;
}
#FieldEntry div.formContainer.image { overflow: hidden; }

#HtmlTab {
    position: relative;
    margin-bottom: 40px;
}
#HtmlTab div.tipContainer {
    position: absolute;
    bottom: -28px;
    left: 0;
    margin: 0;
}

div.panel .panelActions {
    color: #999;
    margin-top: 6px;
    font-size: 12px;
}
.confirmButton {
    margin-left: 12px;
}

.badge {
  background-color: #bbb;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 10px;
  margin: 3px 4px 0;
  padding: 1px 8px 2px;
  text-align: center;
}