@media all and (max-width: 1410px) {
    #PreviewContentButton {
        float: left;
    }

    .sideBarClosed #PreviewContentButton {
        float: right;
    }
}

/*Full-Width Admin*/
@media all and (min-width: 1200px) {

    html,body, body > div.contents, div.visibleOverflow {
        height: 100%;
    }

    html {
        overflow: hidden;
    }

    div.top-barContainer > .row.header {
        width: 100%;
    }

    #Main {
        width: 100%;
        padding-left: 220px;
        padding-right: 0;
        bottom: 0;
        overflow: auto;
        position: absolute;
        top: 45px;
    }


    #Main > .row, #Main > div > div.row {
        max-width: none;
        width: 100%;
        padding: 0 20px;
    }

    #sidebar {
        padding-top: 8px;
        width:220px;
        position: absolute;
        top: 45px;
        bottom: 0;
        overflow: auto;
        border-right: 2px solid #CCC;
        background: #FFF;
    }
}

@media all and (max-width: 840px) and (min-width: 768px) {
	/** Admin Sidebar icons - hide for iPad and devices slightly above*/
	#sidebar ul li a i {
		display: none;
	}
	#sidebar ul.tabs li span {
		margin-left: 0;
		top: 0;
	}
}

/** iPad Portrait **/
@media all and (max-width: 768px) {
	/** Fix up the iPad top navigation a bit by removing unnecessary dividers*/
	.top-bar ul > li.has-dropdown a:after {
		border: none;
	}
	ul.right > li.divider {
		display: none;
	}
}

@media all and (max-width: 767px) {
	.tabletMarginBottom {
		margin-bottom: 10px;
	}
	.tabletBlockStatic {
	    position: static !important;
	    display: block;
    }
	.confirmModalButton {
		margin-bottom: 10px;
		margin-left: 0 !important;
	}
	table.manageTable thead tr .hide-for-small {
		display: none !important;
	}
}

@media all and (max-width: 320px) {
    .mobileBlockStatic {
	    position: static !important;
	    display: block;
    }
	.mobileMarginBottom {
		margin-bottom: 10px;
	}
	#PreviewContentButton, #ConfirmBlogDelete, #ConfirmDeleteCategory, #ConfirmModuleDelete, #DeleteUserButton {
		margin-left: 0;
	}
}