@using DirigoEdge.Utils
@model List<Blog>

<div class="row bigBlogListContainer contain">
    @* Load posts *@
    @Html.Partial("/Views/Shared/Partials/BlogArticleSinglePartial.cshtml")
</div>
