<div id="ContactSuccessModal" class="reveal-modal">
    <h2>Thanks!</h2>
    <p class="lead">Thank you for contacting us!</p>
    <p>
        Our group will review and follow up within 72 hours.
            <br />
        Thanks for your interest!<br />
    </p>

    <a href="/">Back Home</a>

    <a class="close-reveal-modal">&#215;</a>
</div>