<div id="RevisionDetailModal" class="reveal-modal large">
    <h2>Revision Details.</h2>

    <textarea></textarea>
    
    <a href="javascript:void(0);" id="UseRevision">Use this revision</a>

    <a class="close-reveal-modal">&#215;</a>
</div>