@model DirigoEdge.Areas.Admin.Models.ViewModels.EditEventViewModel

<h4>Featured Text</h4>

<div class="content">
    <textarea id="EventShortDescription" rows="6">@Model.ThisEvent.ShortDesc</textarea>
</div>