@model DirigoEdge.Areas.Admin.Models.ViewModels.EditEventViewModel

<h4>Featured Image</h4>

<div class="content">    
    <input id="FeaturedImage" type="text" placeholder="Image Location" value="@Model.ThisEvent.FeaturedImageUrl"/>
    <a id="SetFeaturedImage" href="javascript:void(0);">Set Featured Image</a> <i class="has-tip fa fa-question-circle" title="This will show as the image headline on event overview pages. Recommended size is 760px × 250px"></i>
</div>